<h2 class="sign-up-title">Sign up and have fun with our quizes!</h2>

<div class="container">
  <div class="row">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="col-md-6 text-fields">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Choose your avatar!</h3>
        <div class="avatars-album">
          <% [1,4,7,10].each do |index| %>
            <div class="row">
              <%= image_tag "#{index}.png", class: "avatar col-md-4" %>
              <%= image_tag "#{index+1}.png", class: "avatar col-md-4" %>
              <%= image_tag "#{index+2}.png", class: "avatar col-md-4" %>
            </div>
          <% end %>
        </div>

        <%= f.hidden_field :avatar_path, id: "avatar_path" %>
      </div>

      <div class="actions sign-up-btn-action">
        <%= f.submit "Sign up", class: "btn btn-primary sign-up-btn" %>
      </div>
    <% end %>
  </div>
</div>
