<div class="login-container">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form" }) do |f| %>
    <h2>Forgot your password?</h2>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "login-input", placeholder: "email"  %>
    </div>

    <div class="actions">
      <%= f.submit "Reset password", class: "login-btn"%>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>

</div>
