<!DOCTYPE html>
<html>
  <head>
    <title>QuizWhiz</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  </head>

  <body>
    <%= react_component('NavigationBar', {currentUser: current_user}) %>

    <main class="container content">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert%>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
